div {
    width: 100%;
    color: black;
    text-align: center;
    justify-content: center;
}

div #form {
    padding: 50px;

    #inputArea {
        border-radius: 5px;
        border: 1px solid rgb(185,182,182);
    }
    #inputArea:focus{
        outline: 0px;
    }
    button{
        height: 25px;
        width: 50px;
        border-radius: 3px;
        border: 2px solid black;
        background-color: aquamarine;
        justify-content: center;
    }
}